---
layout: default
image_path: /img/food.jpg
image_description: "Picture of our food cabinet"
---

<div class="editable">
    <h2>about eat</h2>
    <h3>Operated by husband and wife team, Roland &amp; Anj de Beer, <span class="eat"><strong>eat</strong> Deli &amp; Bar</span>, provides customers with a wide range of healthy delicatessen style food made on site, as well as selected New Zealand wines.</h3>
    
    <p>Sited in a 100+ year old building, the premises have been refitted throughout to accommodate the restaurant and bar. Improvements include a mezzanine floor, a children&#39;s playroom and a covered verandah with views of the Dobson mountain range.</p>
    
    <p>Extensive use of dressed and oiled macrocarpa timber has been used on the exposed beams, flooring and staircase. Other features are the log-burner, comfortable leather lounge, macrocarpa table tops and leather chairs. There is also cafe style seating available under the existing Cherry tree.</p>
</div>