---
layout: default
image_path: /img/contact.jpg
image_description: Plenty of seating available
---

<h2 class="editable">contact us</h2>
<address>
    Facebook: <a href="https://www.facebook.com/pages/Eat-Deli-Bar/177329595662568">Eat Deli &amp; Bar</a><br>
    Phone: (03) 685 6275<br>
    Fax: (03) 685 6276
</address>
<h4><img src="/img/feedback.gif" width="380" height="55" alt="Feedback"></h4>
<p class="editable">We love receiving your feedback-good or bad! Please let us know where we can improve or what we can offer to make your next visit with us even better.</p>

<h4><img src="/img/join_us.gif" width="380" height="55" alt="Want to join us?"></h4>
<p class="editable">We have the most fantastic team helping us help you. If you would like to join our team then drop us a line with your details.</p>
