---
layout: default
image_path: /img/food.jpg
image_description: A great selection of cold and hot food
---

<h2 class="editable">food &amp; wine</h2>
<h4><img src="/img/food.gif" width="380" height="55" alt="Food"></h4>
<div class="editable">
<p><span class="eat"><strong>eat</strong> Deli &amp; Bar</span> offers breakfast, brunch, lunch and a variety of light snacks and sweet treats plus check out our deli shelves for a selection of gourmet products from around the world.</p>

<p>If time is a consideration our chilled cabinet is choc full of gourmet food delights. If time permits enjoy a leisurely lunch or dinner from our regularly changing blackboard menu.</p>
</div>
<h4><img src="/img/drink.gif" width="380" height="55" alt="Drink"></h4>

<div class="editable">
<p>Fantastic coffees, healthy fruit juices &amp; great NZ wines. We also serve the full range of perfectly chilled Monteiths and othe local beers by the bottle.</p>

</div>
<h4><img src="/img/art.gif" width="380" height="55" alt="Arty Things"></h4>
<div class="editable">
<p>Describing art is not our forte so we won't try. If you notice something on the wall you like feel free to make a purchase!</p>

<p>
    <strong>Randall Froude:</strong> World renowned artist living in Fairlie.
</p>

<p>
    <strong>Michael McGuire:</strong> Born in Auckland and currently living in Christchurch. Michael is currently the Executive Chef at one of Christchurch's leading hotel/resorts. In his spare time he paints and we love his work. In fact we have some at home.
</p>
</div>
