---
layout: default
image_path: /img/front.jpg
image_description: Our Store Front
---

<h2>hours</h2>
<p><span class="eat"><strong>eat</strong> Deli &amp; Bar</span> is open on the following days:</p>

<table>
    <tr>
        <td class="editable">Mondays</td>
        <td class="editable">Closed</td>
    </tr>
    <tr>
        <td class="editable">Tuesday</td>
        <td class="editable">8.00am to 4.00pm</td>
    </tr>
    <tr>
        <td class="editable">Wednesday</td>
        <td class="editable">8.00am to 4.00pm</td>
    </tr>
    <tr>
        <td class="editable">Thursday</td>
        <td class="editable">8.00am to 4.00pm</td>
    </tr>
    <tr>
        <td class="editable">Friday</td>
        <td class="editable">8.00am to 4.00pm</td>
    </tr>
    <tr>
        <td class="editable">Saturday</td>
        <td class="editable">8.00am to 4.00pm</td>
    </tr>
    <tr>
        <td class="editable">Sunday</td>
        <td class="editable">8.00am to 4.00pm</td>
    </tr>
    <tr>
        <td class="editable">Public Holidays</td>
        <td class="editable">Closed</td>
    </tr>
</table>
