---
layout: default
image_path: /img/sign.jpg
image_description: "Eat Deli & Bar Sign"
---

<div class="editable">
    <h2>home</h2>
    <h3>Introducing <span class="eat"><strong>eat</strong> Deli &amp; Bar</span>. Great food, great coffee, great wines, great service, great prices notice the trend?</h3>
    <p>We believe we are the ideal stopover for breakfast, brunch, lunch, coffee or a light snack, depending on your schedule or how long you wish to stay!</p>
    <p>Bottom line is, if youre traveling up or down the South Island of New Zealand, between Christchurch and Queenstown, <span class="eat"><strong>eat</strong> Deli &amp; Bar</span> is the place to stop.</p>
    <p>The moment you walk in you realise our place is special. Relax and unwind while enjoying the urban feel we&#39;ve created - alfresco in summer or tucked up on the deep buttoned leather lounge by the fire in winter.</p>
    <p>Located at the gateway of the Mackenzie Country and magnificent Aoraki Mount Cook, eat offers the best in fast, deli style food, easy on the sedentary stomach and the wallet!&nbsp;</p>
    <p>While stopping with us take the opportunity to use our internet connection - complimentary to all our patrons.</p>
    <p>We hope that this site gives you a little understanding of what we offer, how we do it and also why we do it.</p>
</div>