---
layout: default
image_path: /img/location.jpg
image_description: New Zealand Location
---

<h2 class="editable">location</h2>
<address class="editable">
    76 Main Street, Fairlie<br />
    South Canterbury<br />
    New Zealand
</address>

<div class="editable">
<p>Fairlie township is nestled in the Fairlie Basin at the southern end of the Mackenzie district, just 2 hours drive from Christchurch.</p>
<p>The township is at the intersection of S.H 79 ( Fairlie - Geraldine) and S.H 8 ( Timaru - Omarama), the half way point on the Christchurch / Queenstown tourist route.</p>
<p>Eat Deli &amp; Bar is located on the corner of the main intersection in the township. We are easy to find and in the unlikely event of you getting lost - just ask one of the locals!</p>
</div>

<h4><img src="/img/times.gif" width="380" height="55" alt="Times &amp; Distances"></h4>
<table>
    <tr>
        <td class="editable">Geraldine</td>
        <td class="editable">approx 30 mins</td>
    </tr>
    <tr>
        <td class="editable">Lake Tekapo</td>
        <td class="editable">approx 30 mins</td>
    </tr>
    <tr>
        <td class="editable">Timaru</td>
        <td class="editable">approx 45 mins</td>
    </tr>
    <tr>
        <td class="editable">Mt Cook</td>
        <td class="editable">approx 2 hours</td>
    </tr>
    <tr>
        <td class="editable">Christchurch</td>
        <td class="editable">approx 2 1/2 hours</td>
    </tr>
    <tr>
        <td class="editable">Wanaka</td>
        <td class="editable">approx 3 hours</td>
    </tr>
    <tr>
        <td class="editable">Queenstown</td>
        <td class="editable">approx 4 hours</td>
    </tr>
</table>
